html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 0.125rem
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 0.125rem
}

.forAppTexts {
    color: chocolate;
    font-size: 25px;
    font-style: bold;
}

.myAppDemoWT .myCustomText {
    align-items: center;
    display: inline-block;
    font-weight: bold;
}